@use '@angular/material' as mat;
@use './theme-colors' as theme;

@include mat.core();

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: theme.$primary-palette,
      tertiary: theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import './app/reset.scss'

